.navbar81-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar81-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.navbar81-image1 {
  height: 3rem;
}
 
.navbar81-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar81-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar81-link11 {
  text-decoration: none;
}
 
.navbar81-link51 {
  text-decoration: none;
}
 
.navbar81-buttons1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar81-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar81-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar81-burger-menu {
  display: none;
}
 
.navbar81-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar81-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar81-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar81-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar81-logo {
  height: 3rem;
}
 
.navbar81-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar81-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar81-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.navbar81-link12 {
  text-decoration: none;
}
 
.navbar81-link3 {
  text-decoration: none;
}
 
.navbar81-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar81-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar81-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar81-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar81-icon14 {
  width: 24px;
  height: 24px;
}
 
.navbar81-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar81-icon16 {
  width: 24px;
  height: 24px;
}
 
.navbar81-container4 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-halfunit);
  grid-template-columns: 1fr;
}
 
.navbar81-menu-item1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar81-page1-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar81-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar81-page11 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar81-menu-item2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar81-page2-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar81-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar81-page21 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar81-menu-item3 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar81-page3-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar81-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar81-page31 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar81-menu-item4 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar81-page4-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar81-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar81-page41 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar81-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar81-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.navbar81-container5 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.navbar81-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-layout-space-oneandhalfunits);
  grid-gap: var(--dl-layout-space-halfunit);
  max-width: var(--dl-layout-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.navbar81-menu-item5 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar81-page1-image2 {
  width: 30px;
  height: 30px;
}
 
.navbar81-content5 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar81-page12 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar81-menu-item6 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar81-page2-image2 {
  width: 30px;
  height: 30px;
}
 
.navbar81-content6 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar81-page22 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar81-menu-item7 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar81-page3-image2 {
  width: 30px;
  height: 30px;
}
 
.navbar81-content7 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar81-page32 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar81-menu-item8 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar81-page4-image2 {
  width: 30px;
  height: 30px;
}
 
.navbar81-content8 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar81-page42 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar81-container6 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar81-fragment10 {
  display: contents;
}
 
.navbar81-text14 {
  display: inline-block;
}
 
.navbar81-fragment11 {
  display: contents;
}
 
.navbar81-text15 {
  display: inline-block;
}
 
.navbar81-fragment12 {
  display: contents;
}
 
.navbar81-text16 {
  display: inline-block;
}
 
.navbar81-fragment13 {
  display: contents;
}
 
.navbar81-text17 {
  display: inline-block;
}
 
.navbar81-fragment14 {
  display: contents;
}
 
.navbar81-text18 {
  display: inline-block;
}
 
.navbar81-fragment15 {
  display: contents;
}
 
.navbar81-text19 {
  display: inline-block;
}
 
.navbar81-fragment16 {
  display: contents;
}
 
.navbar81-text20 {
  display: inline-block;
}
 
.navbar81-fragment17 {
  display: contents;
}
 
.navbar81-text21 {
  display: inline-block;
}
 
.navbar81-fragment18 {
  display: contents;
}
 
.navbar81-text22 {
  display: inline-block;
}
 
.navbar81-fragment19 {
  display: contents;
}
 
.navbar81-text23 {
  display: inline-block;
}
 
.navbar81-fragment20 {
  display: contents;
}
 
.navbar81-text24 {
  display: inline-block;
}
 
.navbar81-fragment21 {
  display: contents;
}
 
.navbar81-text25 {
  display: inline-block;
}
 
.navbar81-fragment22 {
  display: contents;
}
 
.navbar81-text26 {
  display: inline-block;
}
 
.navbar81-fragment23 {
  display: contents;
}
 
.navbar81-text27 {
  display: inline-block;
}
 
.navbar81-fragment24 {
  display: contents;
}
 
.navbar81-text28 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar81-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar81-desktop-menu {
    display: none;
  }
  .navbar81-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar81-mobile-menu {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .navbar81-container4 {
    grid-gap: 0;
  }
  .navbar81-link5-menu-list {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .navbar81-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .navbar81-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}
